<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Go4Food">
        <activity
            android:name=".ClientOrderDriverInProgressActivity"
            android:exported="false" />
        <activity
            android:name=".ClientOrderInProgressActivity"
            android:exported="false" />
        <activity
            android:name=".client.activities.DetailedDailyMealActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordForgotten"
            android:exported="false" />
        <activity
            android:name=".resto.RestoSettingActivity"
            android:exported="false" />
        <activity
            android:name=".resto.RestoAddOfferActivity"
            android:exported="false" />
        <activity
            android:name=".resto.RestoWeelyPlanningActivity"
            android:exported="false" />
        <activity
            android:name=".resto.RestoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".driver.DriverMenuActivity"
            android:exported="false" />
        <activity
            android:name=".client.activities.ClientMenuActivity"
            android:exported="false" />
        <activity
            android:name=".resto.RestoRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.DriverRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client.activities.ClientRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resto.RestoLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.DriverLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client.activities.ClientLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".resto.RestoInterfaceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.DriverInterfaceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client.activities.ClientInterfaceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>